.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.href-black {
  color: black;
}

.href-blue {
  color: #1479be;
}

a {
  color: rgb(49, 210, 183);
  text-decoration: none;
}

a:hover {
  color: black;
}
