/* General Styles */
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 1.3rem;
  margin: 15px 0;
  line-height: 1.3;
}

.href-black {
  color: black;
}

.href-blue {
  color: #1479be;
}

a {
  color: rgb(49, 210, 183);
  text-decoration: none;
  vertical-align: middle;
}

a:hover {
  color: black;
}

.row1 {
  margin-top: -30px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
    margin: 10px 0;
  }

  h3 {
    font-size: 1.3rem;
  }

  .row1 {
    margin-top: -10px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.1rem;
    line-height: 1.4;
  }

  h3 {
    font-size: 1.15rem;
  }

  .row1 {
    margin-top: 0;
  }

  .row1 h2 a {
    padding: 10px 5px;
    display: inline-block;
  }
}
