.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.href-black {
  color: black;
}

.href-blue {
  color: #1479be;
}

a {
  color: rgb(49, 210, 183);
  text-decoration: none;
}

a:hover {
  color: black;
}

.row1 {
  margin-top: -30px;
}

.verse {
  margin-top: 30px;
}

.freehand-regular {
  font-family: "Freehand", cursive;
  font-weight: 400;
  font-style: normal;
}
